.introduction img {
	-webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
	opacity: 0.9;
}

.introduction p {
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}