footer {
	margin-top: 50px;
	padding: 1.5rem 0 1rem;
	background: url("../img/bg-primary-green.jpg") no-repeat;
	background-size: cover;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	position: relative;
}

.sitemap-item {
	margin-bottom: 2rem;
	padding: 0;
	list-style: none;
}

.sitemap-item ul {
	padding-left: 2rem;
}

.sitemap-item > li > span {
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.1rem;
	display: inline-block;
	margin-bottom: 1rem;
}

footer a {
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

footer a:hover, a:active {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}

footer p {
	text-align: right;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	footer {
		padding: 4rem 0;
	}
}